*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  user-select: none;
}

.logo {
  width: 150px;
  height: 60px;
  margin: 20px 10px;
}

.header{
  height: 100px;
  background: black;
  box-shadow: 0 3px 15px black;
  position: sticky;
  top:0;
}
.header ul{
  float: right;
  margin-right: 30px;
}
.header ul li{
  display: inline-block;
}
.header ul li a{
  color: white;
  display: block;
  padding: 15px 15px;
  line-height: 70px;
  font-size: 20px;
  background:black;
  transition: .5s;
}
.header ul li a:hover,
.header ul li a.active{
  color: #23dbdb;
}
.header ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
.header ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .5s linear;
}
.header ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid black;
  border-top: none;
}
.header ul ul li a{
  line-height: 50px;
}
.header ul ul ul{
  border-top: none;
}
.header ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
.header ul ul li a i{
  margin-left: 45px;
}

.body h1{
  padding-top: 40px;
}

.body ul {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0px;
}

.body ul li {
  padding: 10px 50px;
}

.body h1 {
  text-align: center;
  width: 100%;
}

.body h5 {
  width: 200px;
}

.body h2 {
  text-align: center;
  width: 100%;
}


.body input {
  height: 300px;
  width: 200px;

}

.footer {
  background-color: white;
}

.footer h5{
  font-weight: bold;
}


.footer ul{
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer ul li {
  padding: 50px 70px;
}

.footer .icon a {
  color:black;
}

.footer .text a {
  display: block;
  color: black;
}

.footer2 {
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  padding: 30px 0px;
  box-shadow: 0 3px 15px black;
}