*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    user-select: none;
}
  
.logo {
    width: 150px;
    height: 60px;
    margin: 20px 10px;
}
  
.header{
    height: 100px;
    background: black;
    box-shadow: 0 3px 15px black;
    position: sticky;
    top:0;
}
.header ul{
    float: right;
    margin-right: 30px;
}
.header ul li{
    display: inline-block;
}
.header ul li a{
    color: white;
    display: block;
    padding: 15px 15px;
    line-height: 70px;
    font-size: 20px;
    background: black;
    transition: .5s;
}
.header ul li a:hover,
.header ul li a.active{
    color: #23dbdb;
}
  .header ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
}
.header ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .5s linear;
}
.header ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid black;
    border-top: none;
}
.header ul ul li a{
    line-height: 50px;
}
.header ul ul ul{
    border-top: none;
}
.header ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}
.header ul ul li a i{
    margin-left: 45px;
}

/* content */
.content{
    padding: 5%;
    display: flex;
    justify-content: space-around;
}
.gambar{
    margin-top: 50px;
}
.desc{
    text-align: center;
}
a:link{
    text-decoration: none;
}
a{
    color: gray;
}

label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}
form{
    background-color: whitesmoke;
}
.judul{
    text-align: center;
}
input[type=text]{
    width: 100%;
    height: 25px;
}
input[type=password]{
    width: 100%;
    height: 25px;
}
input[type=select]{
    width: 100%;
    height: 30px;
}
.gender{
    display: flex;
    justify-content: space-between;
}

.cek{
    margin-top: 30px;
    margin-bottom: 30px;
    color: gray;
}

.submitBtn{
    margin-top: 20px;
    border-radius: 5px;
    background-color: black;
    border: solid 1px black;
    color: white;
    font-weight: bold;
    font-size: larger;
    width: 100%;
    height: 35px;
}

.submitBtn:hover{
    background-color: white;
    color: black;
    transition: 0.25s;
}

form{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    /* box-shadow: 5px 5px 8px -4px black; */
}

select{
    width: 100%;
    height: 25px;
}
.planPH{
    color: gray;
}

form span{
    color: red;
    font-size: small;
}

.errorbox{
    border: red 1px solid;
}

.correctbox{
    border: lime 1px solid;
}


.footer {
    background-color: white;
  }
  
  .footer h5{
    font-weight: bold;
  }
  
  
  .footer ul{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .footer ul li {
    padding: 50px 70px;
  }
  
  .footer .icon a {
    color:black;
  }
  
  .footer .text a {
    display: block;
    color: black;
  }
  
  .footer2 {
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
    padding: 30px 0px;
  }

  
  @media (max-width: 500px){
    
    .footer>ul {
      display: block;
    }
    .content{
        display: block;
    }
    form{
        width: 250px;
    }
  }